@import url(normalize.css);
html {
  padding: 0 20px; }

body {
  max-width: 1280px;
  margin: 0 auto;
  display: block;
  line-height: 20px; }

img, video {
  max-width: 100%;
  height: auto !important; }

.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.clearfix {
  zoom: 1; }
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
.clearfix:after {
  clear: both; }
