@import url(normalize.css);
body {
  max-width: 1322px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6em;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

img, video, object, embed {
  max-width: 100%;
  height: auto !important;
}
