@import url(normalize.css);
html {
  font-size: 125%;
  line-height: 1.8em;
}

body {
  max-width: 1322px;
  max-width: 66.1rem;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

img, video, object, embed {
  max-width: 100%;
  height: auto !important;
}
