@import "base";

//1322 Grid System
$total-columns  : 12;             // a 12-column grid
$column-width   : 90px;            // each column is 4em wide
$gutter-width   : 22px;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

$leading:		1.5em;

body {
	@include container;
	line-height:$leading;
	font-size:12pt;
}

a {

}

img, video, object, embed {
	max-width: 100%;
	height: auto !important;
}

.clearfix {
	zoom:1;
	&:before, &:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
	&:after { clear: both; }
}


// Tablet

@media only screen and (max-width: 1023px) {

	body {
	}

}


// Mobile

@media handheld, only screen and (max-width: 767px) {

	body {
	}


}
