doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width,initial-scale=1")
    title Boilerplate
    meta(name="robots",content="noindex, nofollow")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='css/all.css')
  body
    h1 HTML Ipsum Presents
    p
      strong Pellentesque habitant morbi tristique
      |  senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      em Aenean ultricies   mi vitae est.
      |  Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      code commodo vitae
      | , ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
      a(href='#') Donec non enim
      |  in turpis pulvinar facilisis. Ut felis.
    h2 Header Level 2
    ol
      li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      li Aliquam tincidunt mauris eu risus.
    blockquote
      p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
    h3 Header Level 3
    ul
      li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      li Aliquam tincidunt mauris eu risus.

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="js/all.js")