doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge",shrink-to-fit="no")
    meta(name="viewport",content="width=device-width,initial-scale=1")
    title Boilerplate
    meta(name="robots",content="noindex, nofollow")
    link(rel='stylesheet', href='css/all.css')
  body
    #wrapper
      h1 This is the primary heading and there should only be one of these per page
      p
        | A small paragraph to
        em emphasis
        |  and show
        strong important
        |  bits.
      ul
        li This is a list item
        li So is this - there could be more
        li
          | Make sure to style list items to:
          ul
            li Not forgetting child list items
            li Not forgetting child list items
            li Not forgetting child list items
            li Not forgetting child list items
        li A couple more
        li top level list items
      p
        | Don&apos;t forget
        strong Ordered lists
        | :
      ol
        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        li
          | Aliquam tincidunt mauris eu risus.
          ol
            li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            li Aliquam tincidunt mauris eu risus.
        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        li Aliquam tincidunt mauris eu risus.
      h2
        | A sub heading which is not as important as the first, but is quite imporant overall
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      table.t1(summary='Top 10 downloaded movies in 2011 using BitTorrent, in descending order, listing number of downloads and worldwide cinema grosses')
        caption
          | Most Downloaded Movies on BitTorrent, 2011
        thead
          tr
            th Rank
            th Movie
            th Downloads
            th Grosses
        tfoot
          tr
            th(colspan='4') torrentfreak.com
        tbody
          tr
            th 1
            td Fast Five
            td 9,260,000
            td $626,137,675
          tr
            th 2
            td The Hangover II
            td 8,840,000
            td $581,464,305
          tr
            th 3
            td Thor
            td 8,330,000
            td $449,326,618
          tr
            th 4
            td Source Code
            td 7,910,000
            td $123,278,618
          tr
            th 5
            td I Am Number Four
            td 7,670,000
            td $144,500,437
          tr
            th 6
            td Sucker Punch
            td 7,200,000
            td $89,792,502
          tr
            th 7
            td 127 Hours
            td 6,910,000
            td $60,738,797
          tr
            th 8
            td Rango
            td 6,480,000
            td $245,155,348
          tr
            th 9
            td The King&rsquo;s Speech
            td 6,250,000
            td $414,211,549
          tr
            th 10
            td Harry Potter and the Deathly Hallows Part 2
            td 6,030,000
            td $1,328,111,219
      table
        tr
          th
            | Table Heading
          th
            | Table Heading
        tr
          td
            | table data
          td
            | table data
        tr
          td
            | table data
          td
            | table data
        tr
          td
            | table data
          td
            | table data
        tr
          td
            | table data
          td
            | table data
      h3
        | A sub heading which is not as important as the second, but should be used with consideration
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      blockquote
        p
          em This is a properly formatted blockquote, btw.
          |  Measuring programming progress by lines of code is like measuring aircraft building progress by weight.
        footer
          | &mdash;
          cite
            a(href='http://www.thegatesnotes.com') Bill Gates
      h4
        | A sub heading which is not as important as the second, but should be used with consideration
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      blockquote
        p
          | &ldquo;Ooh - a blockquote! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.&rdquo;
      pre.
        \n

      h5
        | A sub heading which is not as important as the second, but should be used with consideration
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      dl
        dt Definition list
        dd
          | Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        dt Lorem ipsum dolor sit amet
        dd
          | Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      h6 This heading plays a relatively small bit part role, if you use it at all
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      h1
        | Level 1 heading
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h1.fancy
        | Level 1 heading class=&quot;fancy&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h1.thin
        | Level 1 heading class=&quot;thin&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h1.caps
        | Level 1 heading class=&quot;caps&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h2
        | Level 02 Heading
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h2.fancy
        | Level 2 heading class=&quot;fancy&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h2.thin
        | Level 2 heading class=&quot;thin&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h2.caps
        | Level 2 heading class=&quot;caps&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h3
        | Level 03 Heading
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h3.fancy
        | Level 3 heading class=&quot;fancy&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h3.thin
        | Level 3 heading class=&quot;thin&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h3.caps
        | Level 3 heading class=&quot;caps&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h4
        | Level 04 Heading
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h4.fancy
        | Level 4 heading class=&quot;fancy&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h4.thin
        | Level 4 heading class=&quot;thin&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h4.caps
        | Level 4 heading class=&quot;caps&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h5
        | Level 05 Heading
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h5.fancy
        | Level 5 heading class=&quot;fancy&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h5.thin
        | Level 5 heading class=&quot;thin&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h5.caps
        | Level 5 heading class=&quot;caps&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h6
        | Level 06 Heading
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h6.fancy
        | Level 6 heading class=&quot;fancy&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h6.thin
        | Level 6 heading class=&quot;thin&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      h6.caps
        | Level 6 heading class=&quot;caps&quot;
      p
        | Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus.
      blockquote
        p
          | Paragraph inside Blockquote: Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Sed scelerisque sagittis lorem.
      address
        | Address: Example address 224, Sweden
      pre.
        \n      Testing one row
               and another

      p
        | I am
        a(href='?abc123') the a tag
        |  example
        br
        |     I am
        abbr(title='test') the abbr tag
        |  example
        br
        |     I am
        acronym the acronym tag
        |  example
        br
        |     I am
        b the b tag
        |  example
        br
        |     I am
        big the big tag
        |  example
        br
        |     I am
        cite the cite tag
        |  example
        br
        |     I am
        code the code tag
        |  example
        br
        |     I am
        del the del tag
        |  example
        br
        |     I am
        dfn the dfn tag
        |  example
        br
        |     I am
        em the em tag
        |  example
        br
        |     I am
        i the i tag
        |  example
        br
        |     I am
        ins the ins tag
        |  example
        br
        |     I am
        kbd the kbd tag
        |  example
        br
        |     I am
        q the q tag
        |  example
        br
        |     I am
        samp the samp tag
        |  example
        br
        |     I am
        small the small tag
        |  example
        br
        |     I am
        span the span tag
        |  example
        br
        |     I am
        strong the strong tag
        |  example
        br
        |     I am
        sub the sub tag
        |  example
        br
        |     I am
        sup the sup tag
        |  example
        br
        |     I am
        tt the tt tag
        |  example
        br
        |     I am
        var the var tag
        |  example
        br
        |     I am the
        span.small small class
        |  example
        br
        |     I am the
        span.large large class
        |  example
        br
        |     I am the
        span.quiet quiet class
        |  example
        br
        |     I am the
        span.highlight highlight class
        |  example
        br
      hr
      ul
        li Unordered list 01
        li Unordered list 02
        li
          | Unordered list 03
          ul
            li Unordered list inside list level 2
            li
              | Unordered list inside list level 2
              ul
                li Unordered list inside list level 3
                li Unordered list inside list level 3
      ol
        li Ordered list 01
        li Ordered list 02
        li
          | Ordered list 03
          ol
            li Ordered list inside list level 2
            li
              | Ordered list inside list level 2
              ol
                li Ordered list inside list level 3
                li Ordered list inside list level 3
      dl
        dt
          | Description list title 01
        dd
          | Description list description 01
        dt
          | Description list title 02
        dd
          | Description list description 02
        dd
          | Description list description 03
      table
        caption
          | Table Caption
        thead
          tr
            th
              | Table head th
            td
              | Table head td
        tfoot
          tr
            th
              | Table foot th
            td
              | Table foot td
        tbody
          tr
            th
              | Table body th
            td
              | Table body td
          tr
            td
              | Table body td
            td
              | Table body td
      form(action='#')
        fieldset
          legend Form legend
          div
            label(for='f1') Text input:
            input#f1(type='text', value='input text')
          div
            label(for='pw') Password input:
            input#pw(type='password', value='password')
          div
            label(for='f2') Radio input:
            input#f2(type='radio')
          div
            label(for='f3') Checkbox input:
            input#f3(type='checkbox')
          div
            label(for='f4') Select field:
            select#f4
              option
                | Option 01
              option
                | Option 02
          div
            label(for='f5') Textarea:
            textarea#f5(cols='30', rows='5') Textarea text
          div
            label(for='f6') Input Button:
            input#f6(type='button', value='button text')
          div
            label
              | Button Elements:
              span.small.quiet Can use &lt;button&gt; tag or &lt;a class=&quot;button&quot;&gt;
            button.button.positive
              img(src='https://raw.githubusercontent.com/ericrasch/html-kitchen-sink/master/web/assets/img/icons/tick.png', alt='')
              |  Save
            a.button(href='#')
              img(src='https://raw.githubusercontent.com/ericrasch/html-kitchen-sink/master/web/assets/img/icons/key.png', alt='')
              |  Change Password
            a.button.negative(href='#')
              img(src='https://raw.githubusercontent.com/ericrasch/html-kitchen-sink/master/web/assets/img/icons/cross.png', alt='')
              |  Cancel
      |   I am
      a(href='something.doc') a word document
      |  link, so readers know that I&apos;m not a normal link.
      br
      |   I am
      a(href='something.pdf') a pdf document
      |  link, so readers know that I&apos;m not a normal link.
      br
      |   I am
      a(href='http://www.something.com') an external website
      |  link, so readers know that I&apos;m not a normal link.
      br
      |   I am
      a(href='something.rss') an rss feed
      |  link, so readers know that I&apos;m not a normal link.
      br
      |   I am
      a(href='something.xls') an excel spreadsheet
      |  link, so readers know that I&apos;m not a normal link.
      br
      |   I am
      a(href='aim:something') an AIM screenname
      |  link, so readers know that I&apos;m not a normal link.
      br
      |   I am
      a(href='mailto:something') an email address
      |  link, so readers know that I&apos;m not a normal link.
      br
      |   I am
      a(href='http://yourwebsite.com') an internal link
      | . Change the stylesheet&apos;s &quot;http://yourwebsite.com&quot; to your domain name so I don&apos;t look like an external link.
      br
      br
      p.success
        img(src='https://raw.githubusercontent.com/ericrasch/html-kitchen-sink/master/web/assets/img/icons/tick.png', alt='')
        |  This is a paragraph with class=&quot;success&quot; and
        a(href='http://www.something.com') a link
        | .
      p.error
        img(src='https://raw.githubusercontent.com/ericrasch/html-kitchen-sink/master/web/assets/img/icons/cross.png', alt='')
        |  This is a paragraph with class=&quot;error&quot; and
        a(href='http://www.something.com') a link
        | .
      p.notice
        img(src='https://raw.githubusercontent.com/ericrasch/html-kitchen-sink/master/web/assets/img/icons/information.png', alt='')
        |  This is a paragraph with class=&quot;notice&quot; and
        a(href='http://www.something.com') a link
        | .

  //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  //- script(src="js/all.js")