%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content:'';
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
//==============================
// Typography
//==============================
// @function rem-calc($px, $base-val: $base-px-default) {
//   @if not unitless($px) {
//     $px: strip-units($px);
//   }
//   @if not unitless($base-val) {
//     $base-val: strip-units($base-val);
//   }
//   @return ($px / $base-val) * 1rem;
// }

//==============================
// Functions
//==============================

@function rem-calc ($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@function rhythm($multiple) {
  @if not variable-exist($leading) {
    $leading: 1.6em
  }
  @return $leading * $multiple;
}
