// @import susy
@import mixins

// 1322 grid
// $total-columns  : 12
// $column-width   : 90px
// $gutter-width   : 20px
// $susy: (columns: $total-columns,gutters: $gutter-width / $column-width, column-width: $column-width, global-box-sizing: border-box )

$base-line-height: 28px

body
  // +container()
  +font-size(20px)
  +line-height(28px)
  // padding: space(2) gutter()

a
  text-decoration: none

nav ul

img, video, object, embed
  max-width: 100%
  height: auto !important

@media only screen and (min-width: 768px)
  body

// @media only screen and (min-width: 1030px)
// @media only screen and (min-width: 1240px)
