@import base
@import mixins

+establish-baseline

body
  // +container

a
  text-decoration: none

nav ul
  padding: 0
  margin: 0
  list-style: none

img, video, object, embed
  max-width: 100%
  height: auto !important


// Tablet
@media only screen and (min-width: 768px)
  html
    margin-left: calc(100vw - 100%)
    margin-right: 0

@media only screen and (min-width: 1030px)
@media only screen and (min-width: 1240px)
