doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width,initial-scale=1")
        title boilerplate
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
        link(rel='stylesheet', href='css/all.css')
    body
        h1 Hello World
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a ipsum vulputate, sodales augue at, malesuada mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas pretium quis augue non euismod. Nulla vulputate consequat nibh et tempor. Quisque id condimentum ipsum. Mauris pretium lectus vitae suscipit finibus. Morbi vitae tortor mattis, tempor tortor vel, dapibus tellus. Vivamus vel risus a enim tempor placerat id quis erat. Donec fermentum eget quam eget gravida. Praesent ut mi nunc. Aenean interdum nunc nec justo maximus semper. Pellentesque eleifend ante non turpis commodo feugiat.
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="js/all.js")