// 1322 grid
// $total-columns  : 12;
// $column-width   : 90px;
// $gutter-width   : 20px;

$modular-scale-ratio: $minor-second;
// $modular-scale-base: 1.2em;

$colors: (
  anchor:      #f00,
  background:  #fff,
  text:        #000
);
$breakpoints: (
  mobile    : 481px,
  tablet    : 768px,
  desktop   : 1030px,
  large     : 1240px
);
$rootsizes: (
  mobile  :   modular-scale(0),
  tablet  :   modular-scale(1),
  desktop :   modular-scale(2),
  large   :   modular-scale(3)
);
$lineheights: (
  leading-1 :   modular-scale(2),
  leading-2 :   modular-scale(3),
  leading-3 :   modular-scale(3),
  leading-4 :   modular-scale(3)
);

$sizes:   map-values($rootsizes);
$points:  map-values($breakpoints);
$leadings : map-values($lineheights);
$breakpoints_total: length($breakpoints);