// 1322 grid
$total-columns  : 12;
$column-width   : 90px;
$gutter-width   : 20px;
$modular-scale-ratio: $perfect-fifth;
// $modular-scale-base: 1.2em;
$susy: (
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,
  global-box-sizing: border-box
);

$colors: (
  anchor:      #f00,
  background:  #fff,
  text:        #000
);